%p.footer-text#brand-text
  = '微信订阅号#pm2.5查询#'
%p.footer-text
  = '数据来源 PM25.in'
%p.footer-text
  = "更新时间: #{time}"
%span.home.glyphicon.glyphicon-home
  %a{:href => '/'}
    = '返回首页'
%div.modal
  %div.center

%script{:type => 'text/javascript','data-main' => '/javascripts/main', :src  => '/javascripts/require.js'}