#top
  %tbody
    %h4.top-title
      ='今日全国pm2.5十佳城市'
    - cities.each do |city|
      - template = Haml::Engine.new(File.read('/var/www/pm2.5-inquiry/current/views/render_by_value.haml'))
      = template.render(Object.new, :pm2_5 => city[:pm2_5], :position => "#{cities.index(city)+1}.#{city[:area]}")
    %p.footer-text
      = '微信订阅号#pm2.5查询#'
    %p.footer-text
      = '数据来源 PM25.in'


